<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924567143903-t2pfs05s87e5dp6o9fdfb6pk4qk5qcpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924567143903-t2pfs05s87e5dp6o9fdfb6pk4qk5qcpo</string>
	<key>API_KEY</key>
	<string>AIzaSyDeooV_wPD9ZerWBgppHnvihH9ysJM-IJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>924567143903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Bharatride</string>
	<key>PROJECT_ID</key>
	<string>bharatride-d69af</string>
	<key>STORAGE_BUCKET</key>
	<string>bharatride-d69af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924567143903:ios:089e4d93135b7fe601706a</string>
</dict>
</plist>